
<!DOCTYPE HTML>

<html>

<head>
	<meta charset="utf-8">
	<title>AngularJS Ninja</title>
	<meta name="author" content="Akihito Tamagawa">

	
	<meta name="description" content="2014/10/16 AngularJS AngularJS 1.3 新機能 ワンタイムバインディング AngularJS 1.3.0 で導入された新機能から、ワンタイムバインディング (One-time binding) について取り上げます。 One-time binding &hellip;">
	

  <!-- http://t.co/dKP3o1e -->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1">

	<link href="/atom.xml" rel="alternate" title="AngularJS Ninja" type="application/atom+xml">
	
	<link rel="canonical" href="http://angularjsninja.com/">
	<link href="/favicon.png" rel="shortcut icon">
	<link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css">
	<link href="/stylesheets/font-awesome.min.css" media="screen, projection" rel="stylesheet" type="text/css">
	<!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700' rel='stylesheet' type='text/css'>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<!--Fonts from Google"s Web font directory at http://google.com/webfonts -->
<link href="http://fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
<link href='http://fonts.googleapis.com/css?family=Source+Code+Pro' rel='stylesheet' type='text/css'>

  
	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-15091936-4']);
		_gaq.push(['_trackPageview']);

		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
	</script>


</head>


<body>
	<div class="container">
		<div class="left-col">
			<div class="intrude-less">
			<header id="header" class="inner"><div class="profilepic">
	
	<script src="/javascripts/md5.js"></script>
	<script type="text/javascript">
		$(function(){
			$('.profilepic').append("<img src='http://www.gravatar.com/avatar/" + MD5("tama3bb@gmail.com") + "?s=160' alt='Profile Picture' style='width: 160px;' />");
		});
	</script>
	
</div>

<nav id="main-nav"><ul class="main-navigation">
    <li><a href="/">Blog</a></li>
    <li><a href="/blog/archives">Archives</a></li>
</ul>

<section class="aboutme">
  <p>
    AngularJS Ninja Blog
  </p>
</section>
</nav>
<nav id="sub-nav">
	<div class="social">
		
			<a class="email" href="mailto:tama3bb@gmail.com" title="Email">Email</a>
		
		
		
		
			<a class="twitter" href="http://twitter.com/tama3bb" title="Twitter">Twitter</a>
		
		
			<a class="github" href="https://github.com/tama3bb" title="GitHub">GitHub</a>
		
		
		
		
		
		
		
		
		
		
    	
    	
			<a class="rss" href="/atom.xml" title="RSS">RSS</a>
		
	</div>
</nav>
</header>				
			</div>
		</div>	
		<div class="mid-col">
			
				
			
			<div class="mid-col-container">
				<div id="content" class="inner">
<div itemscope itemtype="http://schema.org/Blog">


    <article class="post" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
	<div class="meta">
		<div class="date">








  


<time datetime="2014-10-16T08:40:32+09:00" data-updated="true" itemprop="datePublished">2014/10/16</time></div>
		<div class="tags">


	<a class='category' href='/blog/categories/angularjs/'>AngularJS</a>


</div>
		
	</div>
	<h1 class="title" itemprop="name"><a href="/blog/2014/10/16/angularjs-1.3-one-time-binding/" itemprop="url">AngularJS 1.3 新機能 ワンタイムバインディング</a></h1>
	<div class="entry-content" itemprop="articleBody">
		<p><a href="/blog/2014/10/14/angularjs-1.3.0-released/">AngularJS 1.3.0</a> で導入された新機能から、ワンタイムバインディング (<a href="https://docs.angularjs.org/guide/expression#one-time-binding">One-time binding</a>) について取り上げます。</p>

<h2>One-time binding</h2>

<p>値が変わることのないデータまでも双方向データバインドされて、digest loop のたびに繰り返し変更監視されることで性能が劣化しやすかった大規模な AngularJS アプリケーションでの問題を解消できます。</p>

<p>1 回で使い捨てするデータバインドを定義できるようになり、監視 (watch) 対象を減らして digest loop を高速化し、アプリケーションの表示や操作の応答速度を高められる機能です。</p>

<p>One-time binding を指定すると、undefined のままである間は監視対象となり続け、digest loop の結果 undefined でなくなった時点で監視対象から外れます。null となった場合でも監視対象から外れます。</p>

<h4>使い方</h4>

<p><code>::</code> を付けるだけです。</p>


		
		<a href="/blog/2014/10/16/angularjs-1.3-one-time-binding/" class="more-link">Read on &rarr;</a>
	</div>

</article>


    <article class="post" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
	<div class="meta">
		<div class="date">








  


<time datetime="2014-10-15T08:24:48+09:00" data-updated="true" itemprop="datePublished">2014/10/15</time></div>
		<div class="tags">


	<a class='category' href='/blog/categories/angularjs/'>AngularJS</a>


</div>
		
	</div>
	<h1 class="title" itemprop="name"><a href="/blog/2014/10/15/migrating-from-1.2-to-1.3-in-Japanese/" itemprop="url">AngularJS: Migrating From 1.2 to 1.3 日本語訳</a></h1>
	<div class="entry-content" itemprop="articleBody">
		<p><a href="http://angularjsninja.com/blog/2014/10/14/angularjs-1.3.0-released/">AngularJS 1.3.0 がリリース</a>されたので、移行ガイド (<a href="https://docs.angularjs.org/guide/migration#migrating-from-1-2-to-1-3">Migrating from 1.2 to 1.3</a>) のほうも日本語訳しておきました。</p>

<hr />

<h2>Migrating from 1.2 to 1.3</h2>

<h3>$parse</h3>

<p><em><a href="https://github.com/angular/angular.js/commit/77ada4c82d6b8fc6d977c26f3cdb48c2f5fbe5a5">prevent invocation of Function&rsquo;s bind, call and apply</a></em></p>

<p>angular 式の中では function の <code>.bind</code> <code>.call</code> <code>.apply</code> を呼び出せなくなりました。既存 function の振る舞いを予測できない形で変更させないようにするためです。</p>

<p><em><a href="https://github.com/angular/angular.js/commit/6081f20769e64a800ee8075c168412b21f026d99">forbid <code>__proto__</code> properties in angular expressions</a></em></p>

<p>angular 式の中では (deprecated) <code>__proto__</code> プロパティは動作しなくなりました。</p>

<p><em><a href="https://github.com/angular/angular.js/commit/48fa3aadd546036c7e69f71046f659ab1de244c6">forbid <code>__{define,lookup}{Getter,Setter}__</code> properties</a></em></p>

<p>angular 式の中では <code>__{define,lookup}{Getter,Setter}__</code> を利用できなくなりました。必要な場合は、危険でなくなるようにラップ／バインドして scope オブジェクトを通して利用してください。</p>

<p><em><a href="https://github.com/angular/angular.js/commit/528be29d1662122a34e204dd607e1c0bd9c16bbc">forbid referencing Object in angular expressions</a></em></p>

<p>angular 式の中では <code>Object</code> を利用できなくなりました。<code>Object.keys</code> が必要な場合は scope でアクセスできるようにしてください。</p>


		
		<a href="/blog/2014/10/15/migrating-from-1.2-to-1.3-in-Japanese/" class="more-link">Read on &rarr;</a>
	</div>

</article>


    <article class="post" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
	<div class="meta">
		<div class="date">








  


<time datetime="2014-10-14T12:44:47+09:00" data-updated="true" itemprop="datePublished">2014/10/14</time></div>
		<div class="tags">


	<a class='category' href='/blog/categories/angularjs/'>AngularJS</a>


</div>
		
	</div>
	<h1 class="title" itemprop="name"><a href="/blog/2014/10/14/angularjs-1.3.0-released/" itemprop="url">AngularJS 1.3.0 リリース</a></h1>
	<div class="entry-content" itemprop="articleBody">
		<p>AngularJS 1.3.0 がリリースされました！</p>

<p>ということで、公式ブログの記事『<a href="http://angularjs.blogspot.jp/2014/10/angularjs-130-superluminal-nudge.html">AngularJS 1.3.0 &ndash; superluminal-nudge</a>』を日本語訳しておきました。</p>

<hr />

<h2>AngularJS 1.3.0 &ndash; superluminal-nudge</h2>

<p>8 か月にわたり、2,000 を超えるコミット、19 のベータと 6 のリリースキャンディデートを経て、遂に AngularJS 1.3.0 superluminal-nudge をリリースしました！</p>

<p>このリリースには、注目すべき機能が多く含まれています。</p>

<ul>
<li><a href="https://docs.angularjs.org/guide/expression#one-time-binding">One-time bindings</a> &ndash; <code>::</code> を付けることによって、内挿 (interpolate) が 1 度となり、それ以降は監視 (watch) されなくなる。</li>
<li><a href="https://docs.angularjs.org/api/ngAria">ngAria</a> &ndash; デフォルトで（アクセシビリティに関して）アクセシブルなカスタムコンポーネントを実装するための新しいモジュール</li>
<li><a href="https://docs.angularjs.org/api/ngMessages">ngMessages</a> &ndash; フォームの妥当性に対するフィードバック（メッセージ）を実装しやすくする新しいディレクティブ</li>
<li><a href="https://docs.angularjs.org/api/ng/directive/ngModelOptions">ngModelOptions</a> &ndash; バインドされたモデルの振る舞いをカスタマイズしやすくするディレクティブ。例：debounce （モデル更新のタイミング制御）、getter-setter スタイルのモデル、blur 時のモデル更新など。</li>
<li><a href="https://docs.angularjs.org/error/$injector/strictdi">Strict DI</a> &ndash; 簡略した DI シンタックスを利用していて minify できないコードを見つけることができるオプション</li>
</ul>



		
		<a href="/blog/2014/10/14/angularjs-1.3.0-released/" class="more-link">Read on &rarr;</a>
	</div>

</article>


    <article class="post" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
	<div class="meta">
		<div class="date">








  


<time datetime="2014-10-11T02:08:08+09:00" data-updated="true" itemprop="datePublished">2014/10/11</time></div>
		<div class="tags">


	<a class='category' href='/blog/categories/angularjs/'>AngularJS</a>, <a class='category' href='/blog/categories/offline/'>offline</a>


</div>
		
	</div>
	<h1 class="title" itemprop="name"><a href="/blog/2014/10/11/angularjs-in-person/" itemprop="url">期間限定の対面企画</a></h1>
	<div class="entry-content" itemprop="articleBody">
		<p>「AngularJS のこと対面で教えてよ！」というリクエストにお応えします。</p>

<p>ご希望あれば Twitter で <a href="https://twitter.com/tama3bb">@tama3bb</a> までご連絡ください。各日とも先着 1 名です。</p>

<h3>日時</h3>

<ul>
<li>2014/10/16（木） 16:00 &ndash; 18:00 （ご予約済み）</li>
<li>2014/10/17（金） 16:00 &ndash; 18:00</li>
<li>2014/10/24（金） 16:00 &ndash; 18:00</li>
<li>2014/10/31（金） 16:00 &ndash; 18:00</li>
<li>2014/11/ 7（金） 16:00 &ndash; 18:00</li>
<li>2014/11/14（金） 16:00 &ndash; 18:00</li>
</ul>



		
		<a href="/blog/2014/10/11/angularjs-in-person/" class="more-link">Read on &rarr;</a>
	</div>

</article>


    <article class="post" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
	<div class="meta">
		<div class="date">








  


<time datetime="2014-09-02T16:58:19+09:00" data-updated="true" itemprop="datePublished">2014/09/02</time></div>
		<div class="tags">


	<a class='category' href='/blog/categories/angularjs/'>AngularJS</a>, <a class='category' href='/blog/categories/video/'>Video</a>, <a class='category' href='/blog/categories/yeoman/'>Yeoman</a>


</div>
		
	</div>
	<h1 class="title" itemprop="name"><a href="/blog/2014/09/02/video-angularjs-app-with-yeoman/" itemprop="url">【動画】Yeoman で AngularJS アプリケーションを作ろう！</a></h1>
	<div class="entry-content" itemprop="articleBody">
		<p>Yeoman のサイトにある <a href="http://yeoman.io/codelab.html">Tutorial (codelab)</a> をスクリーンキャストしてみました。</p>

<iframe width="853" height="480" src="//www.youtube.com/embed/uv_ALCiCA6E?rel=0" frameborder="0" allowfullscreen></iframe>


<p><a href="https://github.com/yeoman/generator-angular">generator-angular</a> で AngularJS 用のコードを生成し、そこから TODO アプリケーションに変更していく流れをデモしてます。</p>

<p>Yeoman がどんなものか試してみたかった方や、眺めてるだけで試した気になれる方にオススメです！</p>


		
		<a href="/blog/2014/09/02/video-angularjs-app-with-yeoman/" class="more-link">Read on &rarr;</a>
	</div>

</article>


    <article class="post" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
	<div class="meta">
		<div class="date">








  


<time datetime="2014-07-29T08:22:55+09:00" data-updated="true" itemprop="datePublished">2014/07/29</time></div>
		<div class="tags">


	<a class='category' href='/blog/categories/angularjs/'>AngularJS</a>


</div>
		
	</div>
	<h1 class="title" itemprop="name"><a href="/blog/2014/07/29/angularjs-styleguide-in-Japanese/" itemprop="url">AngularJS Styleguide 日本語訳</a></h1>
	<div class="entry-content" itemprop="articleBody">
		<p><a href="https://twitter.com/toddmotto">@toddmotto</a> さんが AngularJS styleguide を GitHub に上げてました。</p>

<blockquote class="twitter-tweet" data-cards="hidden" lang="ja"><p>Open sourced my opinionated AngularJS styleguide on GitHub: <a href="https://t.co/g2BPwkUXuS">https://t.co/g2BPwkUXuS</a> <a href="https://twitter.com/hashtag/angular?src=hash">#angular</a> <a href="https://twitter.com/hashtag/javascript?src=hash">#javascript</a></p>&mdash; Todd Motto (@toddmotto) <a href="https://twitter.com/toddmotto/statuses/493406283887050753">2014, 7月 27</a></blockquote>


<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>


<h3>AngularJS styleguide 日本語訳</h3>

<p>この AngularJS styleguide を Fork し、『<a href="https://github.com/tama3bb/angularjs-styleguide">AngularJS スタイルガイド</a>』として日本語に訳しておきました。</p>

<h3>JavaScript Style Guide</h3>

<p>なお、JavaScript のスタイルガイドについては、Airbnb の <a href="https://github.com/airbnb/javascript">JavaScript Style Guide</a> がお気に入りです。</p>

		
		
	</div>

</article>


    <article class="post" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
	<div class="meta">
		<div class="date">








  


<time datetime="2014-02-17T02:15:39+09:00" data-updated="true" itemprop="datePublished">2014/02/17</time></div>
		<div class="tags">


	<a class='category' href='/blog/categories/angularjs/'>AngularJS</a>, <a class='category' href='/blog/categories/firebase/'>Firebase</a>, <a class='category' href='/blog/categories/ionic/'>Ionic</a>


</div>
		
	</div>
	<h1 class="title" itemprop="name"><a href="/blog/2014/02/17/angularjs-ionic-firebase/" itemprop="url">AngularJS Ionic Firebase で作るモバイルチャットアプリ</a></h1>
	<div class="entry-content" itemprop="articleBody">
		<p>この週末、オリンピックを見ながら日本人が出てくるまでヒマだったりしたので、ふとモバイルチャットでも作ってみるかと思い立ってダラダラとやってみました。</p>

<p>数時間しかかけてないので「ザ・未完成」なデキですが、サクッとリアルタイムなモバイルチャットアプリケーションを作れてしまうのは、なんともラクチンで楽しい。</p>

<h2>利用した技術</h2>

<ul>
<li><a href="http://angularjs.org/">AngularJS</a></li>
<li><a href="http://ionicframework.com/">Ionic</a></li>
<li><a href="https://www.firebase.com/">Firebase</a></li>
</ul>


<p>Ionic についてはこれまでにブログで、書いてないや…。Firebase については<a href="/blog/2013/09/01/angularfire-realtime-chat-app/">ずいぶん前に</a>。</p>


		
		<a href="/blog/2014/02/17/angularjs-ionic-firebase/" class="more-link">Read on &rarr;</a>
	</div>

</article>


    <article class="post" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
	<div class="meta">
		<div class="date">








  


<time datetime="2014-02-06T15:29:21+09:00" data-updated="true" itemprop="datePublished">2014/02/06</time></div>
		<div class="tags">


	<a class='category' href='/blog/categories/angularjs/'>AngularJS</a>, <a class='category' href='/blog/categories/directive/'>directive</a>


</div>
		
	</div>
	<h1 class="title" itemprop="name"><a href="/blog/2014/02/06/anchor-with-ngdisabled-caveat/" itemprop="url">非活性（ng-disabled）にしてもaタグのボタンだとng-click動くので注意</a></h1>
	<div class="entry-content" itemprop="articleBody">
		<hr />

<h2>Bootstrap のボタン</h2>

<p><a href="http://getbootstrap.com">Bootstrap</a> ベースのボタンに<code>ng-click</code>を記述する（form を submit しない）コードは、主に以下の 2 通りある。</p>

<figure class='code'><figcaption><span></span></figcaption><div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class='line-number'>1</span>
<span class='line-number'>2</span>
</pre></td><td class='code'><pre><code class='html'><span class='line'><span class="nt">&lt;button</span> <span class="na">type=</span><span class="s">&quot;button&quot;</span> <span class="na">class=</span><span class="s">&quot;btn&quot;</span> <span class="na">ng-click=</span><span class="s">&quot;handleClick()&quot;</span><span class="nt">&gt;</span>Done<span class="nt">&lt;/button&gt;</span>
</span><span class='line'><span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">&quot;#&quot;</span> <span class="na">class=</span><span class="s">&quot;btn&quot;</span> <span class="na">ng-click=</span><span class="s">&quot;handleClick()&quot;</span><span class="nt">&gt;</span>Done<span class="nt">&lt;/a&gt;</span>
</span></code></pre></td></tr></table></div></figure>


<p>どちらでも見た目は同じになるし、イベント処理は<code>ng-click</code>がやってくれるし、<code>&lt;a&gt;</code>のほうがコードは短くなるしって感じで、どっちも一緒なんだし<code>&lt;a&gt;</code>にしとこってノリでやってると、<code>disabled</code> のワナにハマるかも。</p>


		
		<a href="/blog/2014/02/06/anchor-with-ngdisabled-caveat/" class="more-link">Read on &rarr;</a>
	</div>

</article>


    <article class="post" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
	<div class="meta">
		<div class="date">








  


<time datetime="2014-02-05T17:44:16+09:00" data-updated="true" itemprop="datePublished">2014/02/05</time></div>
		<div class="tags">


	<a class='category' href='/blog/categories/angularjs/'>AngularJS</a>, <a class='category' href='/blog/categories/directive/'>directive</a>


</div>
		
	</div>
	<h1 class="title" itemprop="name"><a href="/blog/2014/02/05/ngif-string-caveat/" itemprop="url">AngularJSのng-ifで文字列を使うなら !! を付けよう</a></h1>
	<div class="entry-content" itemprop="articleBody">
		<hr />

<h2>&lsquo;0&rsquo; が表示されない…</h2>

<p><code>ng-if</code> あるいは、<code>ng-show</code>や<code>ng-hide</code>を使うときに、string 値の有無で表示判定を記述することもある。</p>

<figure class='code'><figcaption><span></span></figcaption><div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class='line-number'>1</span>
</pre></td><td class='code'><pre><code class='html'><span class='line'><span class="nt">&lt;p</span> <span class="na">ng-if=</span><span class="s">&quot;model.value&quot;</span><span class="nt">&gt;</span>{{model.label}}<span class="nt">&lt;/p&gt;</span>
</span></code></pre></td></tr></table></div></figure>


<p>そんなとき、<code>model.value</code>の値が<code>'0'</code>だったらどうなるか。</p>

<p>なんと、表示されない…。</p>


		
		<a href="/blog/2014/02/05/ngif-string-caveat/" class="more-link">Read on &rarr;</a>
	</div>

</article>


    <article class="post" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
	<div class="meta">
		<div class="date">








  


<time datetime="2014-02-04T16:08:51+09:00" data-updated="true" itemprop="datePublished">2014/02/04</time></div>
		<div class="tags">


	<a class='category' href='/blog/categories/angularjs/'>AngularJS</a>, <a class='category' href='/blog/categories/service/'>service</a>


</div>
		
	</div>
	<h1 class="title" itemprop="name"><a href="/blog/2014/02/04/angularjs-http-headers/" itemprop="url">AngularJS で HTTP ヘッダを設定するには</a></h1>
	<div class="entry-content" itemprop="articleBody">
		<hr />

<h2>HTTP Headers を設定</h2>

<p>AngularJS による HTTP リクエストについては、<code>$httpProvider.defaults.headers</code>オブジェクトで HTTP ヘッダ情報を設定できる。</p>

<figure class='code'><figcaption><span></span></figcaption><div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class='line-number'>1</span>
</pre></td><td class='code'><pre><code class='javascript'><span class='line'><span class="nx">$httpProvider</span><span class="p">.</span><span class="nx">defaults</span><span class="p">.</span><span class="nx">headers</span><span class="p">.</span><span class="nx">common</span><span class="p">.</span><span class="nx">Authorization</span> <span class="o">=</span> <span class="s1">&#39;...&#39;</span><span class="p">;</span>
</span></code></pre></td></tr></table></div></figure>


<p>以下のように、get だけ、post だけに適用することも。</p>

<figure class='code'><figcaption><span></span></figcaption><div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class='line-number'>1</span>
<span class='line-number'>2</span>
</pre></td><td class='code'><pre><code class='javascript'><span class='line'><span class="nx">$httpProvider</span><span class="p">.</span><span class="nx">defaults</span><span class="p">.</span><span class="nx">headers</span><span class="p">.</span><span class="nx">get</span><span class="p">[</span><span class="s1">&#39;Authorization&#39;</span><span class="p">]</span> <span class="o">=</span> <span class="s1">&#39;...&#39;</span><span class="p">;</span>
</span><span class='line'><span class="nx">$httpProvider</span><span class="p">.</span><span class="nx">defaults</span><span class="p">.</span><span class="nx">headers</span><span class="p">.</span><span class="nx">post</span> <span class="o">=</span> <span class="p">{</span> <span class="s1">&#39;Authorization&#39;</span> <span class="o">:</span> <span class="s1">&#39;...&#39;</span> <span class="p">};</span>
</span></code></pre></td></tr></table></div></figure>


<p>（複数の書き方を例示するために、わざと違った書き方にしてます）</p>


		
		<a href="/blog/2014/02/04/angularjs-http-headers/" class="more-link">Read on &rarr;</a>
	</div>

</article>

</div>
<nav id="pagenavi">
    
    
        <a href="/blog/page/2/" class="next">Next</a>
    
    <div class="center"><a href="/blog/archives">Blog Archives</a></div>
</nav></div>
			</div>
			<footer id="footer" class="inner">Copyright &copy; 2014

    Akihito Tamagawa


Design credit: <a href="http://shashankmehta.in/archive/2012/greyshade.html">Shashank Mehta</a></footer>
		</div>
	</div>
	



<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement(s); js.id = id; js.async = true;
  js.src = "//connect.facebook.net/en_US/all.js#appId=212934732101925&xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>



  <script type="text/javascript">
    (function() {
      var script = document.createElement('script'); script.type = 'text/javascript'; script.async = true;
      script.src = 'https://apis.google.com/js/plusone.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(script, s);
    })();
  </script>



  <script type="text/javascript">
    (function(){
      var twitterWidgets = document.createElement('script');
      twitterWidgets.type = 'text/javascript';
      twitterWidgets.async = true;
      twitterWidgets.src = '//platform.twitter.com/widgets.js';
      document.getElementsByTagName('head')[0].appendChild(twitterWidgets);
    })();
  </script>




</body>
</html>
