
<!DOCTYPE HTML>

<html>

<head>
	<meta charset="utf-8">
	<title>AngularJS Ninja</title>
	<meta name="author" content="Akihito Tamagawa">

	
	<meta name="description" content="2014/02/17 AngularJS, Firebase, Ionic AngularJS Ionic Firebase で作るモバイルチャットアプリ この週末、オリンピックを見ながら日本人が出てくるまでヒマだったりしたので、 &hellip;">
	

  <!-- http://t.co/dKP3o1e -->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1">

	<link href="/atom.xml" rel="alternate" title="AngularJS Ninja" type="application/atom+xml">
	
	<link rel="canonical" href="http://angularjsninja.com/">
	<link href="/favicon.png" rel="shortcut icon">
	<link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css">
	<link href="/stylesheets/font-awesome.min.css" media="screen, projection" rel="stylesheet" type="text/css">
	<!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700' rel='stylesheet' type='text/css'>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<!--Fonts from Google"s Web font directory at http://google.com/webfonts -->
<link href="http://fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
<link href='http://fonts.googleapis.com/css?family=Source+Code+Pro' rel='stylesheet' type='text/css'>

</head>


<body>
	<div class="container">
		<div class="left-col">
			<div class="intrude-less">
			<header id="header" class="inner"><div class="profilepic">
	<script src="/javascripts/md5.js"></script>
	<script type="text/javascript">
		$(function(){
			$('.profilepic').append("<img src='http://www.gravatar.com/avatar/" + MD5("tama3bb@gmail.com") + "?s=160' alt='Profile Picture' style='width: 160px;' />");
		});
	</script>
</div>
<hgroup>
  <h1><a href="/">AngularJS Ninja</a></h1>
  
</hgroup>

<nav id="main-nav"><ul class="main-navigation">
  <li><a href="/">Blog</a></li>
  <li><a href="/blog/archives">Archives</a></li>
</ul>


<section class="aboutme">
  <p>
    AngularJS Ninja Blog
  </p>
</section>
</nav>
<nav id="sub-nav">
	<div class="social">
		
		
		
		<a class="twitter" href="http://twitter.com/tama3bb" title="Twitter">Twitter</a>
		
		
		<a class="github" href="https://github.com/tama3bb" title="GitHub">GitHub</a>
		
		
		
		
		
		
		
		
		<a class="rss" href="/atom.xml" title="RSS">RSS</a>
		
	</div>
</nav>
</header>				
			</div>
		</div>	
		<div class="mid-col">
			
				
			
			<div class="mid-col-container">
				<div id="content" class="inner">
<div itemscope itemtype="http://schema.org/Blog">


    <article class="post" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
	<div class="meta">
		<div class="date">








  


<time datetime="2014-02-17T02:15:39+09:00" data-updated="true" itemprop="datePublished">2014/02/17</time></div>
		<div class="tags">


	<a class='category' href='/blog/categories/angularjs/'>AngularJS</a>, <a class='category' href='/blog/categories/firebase/'>Firebase</a>, <a class='category' href='/blog/categories/ionic/'>Ionic</a>


</div>
		
	</div>
	<h1 class="title" itemprop="name"><a href="/blog/2014/02/17/angularjs-ionic-firebase/" itemprop="url">AngularJS Ionic Firebase で作るモバイルチャットアプリ</a></h1>
	<div class="entry-content" itemprop="articleBody">
		<p>この週末、オリンピックを見ながら日本人が出てくるまでヒマだったりしたので、ふとモバイルチャットでも作ってみるかと思い立ってダラダラとやってみました。</p>

<p>数時間しかかけてないので「ザ・未完成」なデキですが、サクッとリアルタイムなモバイルチャットアプリケーションを作れてしまうのは、なんともラクチンで楽しい。</p>

<h2>利用した技術</h2>

<ul>
<li><a href="http://angularjs.org/">AngularJS</a></li>
<li><a href="http://ionicframework.com/">Ionic</a></li>
<li><a href="https://www.firebase.com/">Firebase</a></li>
</ul>


<p>Ionic についてはこれまでにブログで、書いてないや…。Firebase については<a href="/blog/2013/09/01/angularfire-realtime-chat-app/">ずいぶん前に</a>。</p>


		
		<a href="/blog/2014/02/17/angularjs-ionic-firebase/" class="more-link">Read on &rarr;</a>
	</div>

</article>


    <article class="post" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
	<div class="meta">
		<div class="date">








  


<time datetime="2014-02-06T15:29:21+09:00" data-updated="true" itemprop="datePublished">2014/02/06</time></div>
		<div class="tags">


	<a class='category' href='/blog/categories/angularjs/'>AngularJS</a>, <a class='category' href='/blog/categories/directive/'>directive</a>


</div>
		
	</div>
	<h1 class="title" itemprop="name"><a href="/blog/2014/02/06/anchor-with-ngdisabled-caveat/" itemprop="url">非活性（ng-disabled）にしてもaタグのボタンだとng-click動くので注意</a></h1>
	<div class="entry-content" itemprop="articleBody">
		<hr />

<h2>Bootstrap のボタン</h2>

<p><a href="http://getbootstrap.com">Bootstrap</a> ベースのボタンに<code>ng-click</code>を記述する（form を submit しない）コードは、主に以下の 2 通りある。</p>

<figure class='code'><figcaption><span></span></figcaption><div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class='line-number'>1</span>
<span class='line-number'>2</span>
</pre></td><td class='code'><pre><code class='html'><span class='line'><span class="nt">&lt;button</span> <span class="na">type=</span><span class="s">&quot;button&quot;</span> <span class="na">class=</span><span class="s">&quot;btn&quot;</span> <span class="na">ng-click=</span><span class="s">&quot;handleClick()&quot;</span><span class="nt">&gt;</span>Done<span class="nt">&lt;/button&gt;</span>
</span><span class='line'><span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">&quot;#&quot;</span> <span class="na">class=</span><span class="s">&quot;btn&quot;</span> <span class="na">ng-click=</span><span class="s">&quot;handleClick()&quot;</span><span class="nt">&gt;</span>Done<span class="nt">&lt;/a&gt;</span>
</span></code></pre></td></tr></table></div></figure>


<p>どちらでも見た目は同じになるし、イベント処理は<code>ng-click</code>がやってくれるし、<code>&lt;a&gt;</code>のほうがコードは短くなるしって感じで、どっちも一緒なんだし<code>&lt;a&gt;</code>にしとこってノリでやってると、<code>disabled</code> のワナにハマるかも。</p>


		
		<a href="/blog/2014/02/06/anchor-with-ngdisabled-caveat/" class="more-link">Read on &rarr;</a>
	</div>

</article>


    <article class="post" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
	<div class="meta">
		<div class="date">








  


<time datetime="2014-02-05T17:44:16+09:00" data-updated="true" itemprop="datePublished">2014/02/05</time></div>
		<div class="tags">


	<a class='category' href='/blog/categories/angularjs/'>AngularJS</a>, <a class='category' href='/blog/categories/directive/'>directive</a>


</div>
		
	</div>
	<h1 class="title" itemprop="name"><a href="/blog/2014/02/05/ngif-string-caveat/" itemprop="url">AngularJSのng-ifで文字列を使うなら !! を付けよう</a></h1>
	<div class="entry-content" itemprop="articleBody">
		<hr />

<h2>&lsquo;0&rsquo; が表示されない…</h2>

<p><code>ng-if</code> あるいは、<code>ng-show</code>や<code>ng-hide</code>を使うときに、string 値の有無で表示判定を記述することもある。</p>

<figure class='code'><figcaption><span></span></figcaption><div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class='line-number'>1</span>
</pre></td><td class='code'><pre><code class='html'><span class='line'><span class="nt">&lt;p</span> <span class="na">ng-if=</span><span class="s">&quot;model.value&quot;</span><span class="nt">&gt;</span>{{model.label}}<span class="nt">&lt;/p&gt;</span>
</span></code></pre></td></tr></table></div></figure>


<p>そんなとき、<code>model.value</code>の値が<code>'0'</code>だったらどうなるか。</p>

<p>なんと、表示されない…。</p>


		
		<a href="/blog/2014/02/05/ngif-string-caveat/" class="more-link">Read on &rarr;</a>
	</div>

</article>


    <article class="post" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
	<div class="meta">
		<div class="date">








  


<time datetime="2014-02-04T16:08:51+09:00" data-updated="true" itemprop="datePublished">2014/02/04</time></div>
		<div class="tags">


	<a class='category' href='/blog/categories/angularjs/'>AngularJS</a>, <a class='category' href='/blog/categories/service/'>service</a>


</div>
		
	</div>
	<h1 class="title" itemprop="name"><a href="/blog/2014/02/04/angularjs-http-headers/" itemprop="url">AngularJS で HTTP ヘッダを設定するには</a></h1>
	<div class="entry-content" itemprop="articleBody">
		<hr />

<h2>HTTP Headers を設定</h2>

<p>AngularJS による HTTP リクエストについては、<code>$httpProvider.defaults.headers</code>オブジェクトで HTTP ヘッダ情報を設定できる。</p>

<figure class='code'><figcaption><span></span></figcaption><div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class='line-number'>1</span>
</pre></td><td class='code'><pre><code class='javascript'><span class='line'><span class="nx">$httpProvider</span><span class="p">.</span><span class="nx">defaults</span><span class="p">.</span><span class="nx">headers</span><span class="p">.</span><span class="nx">common</span><span class="p">.</span><span class="nx">Authorization</span> <span class="o">=</span> <span class="s1">&#39;...&#39;</span><span class="p">;</span>
</span></code></pre></td></tr></table></div></figure>


<p>以下のように、get だけ、post だけに適用することも。</p>

<figure class='code'><figcaption><span></span></figcaption><div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class='line-number'>1</span>
<span class='line-number'>2</span>
</pre></td><td class='code'><pre><code class='javascript'><span class='line'><span class="nx">$httpProvider</span><span class="p">.</span><span class="nx">defaults</span><span class="p">.</span><span class="nx">headers</span><span class="p">.</span><span class="nx">get</span><span class="p">[</span><span class="s1">&#39;Authorization&#39;</span><span class="p">]</span> <span class="o">=</span> <span class="s1">&#39;...&#39;</span><span class="p">;</span>
</span><span class='line'><span class="nx">$httpProvider</span><span class="p">.</span><span class="nx">defaults</span><span class="p">.</span><span class="nx">headers</span><span class="p">.</span><span class="nx">post</span> <span class="o">=</span> <span class="p">{</span> <span class="s1">&#39;Authorization&#39;</span> <span class="o">:</span> <span class="s1">&#39;...&#39;</span> <span class="p">};</span>
</span></code></pre></td></tr></table></div></figure>


<p>（複数の書き方を例示するために、わざと違った書き方にしてます）</p>


		
		<a href="/blog/2014/02/04/angularjs-http-headers/" class="more-link">Read on &rarr;</a>
	</div>

</article>


    <article class="post" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
	<div class="meta">
		<div class="date">








  


<time datetime="2014-02-03T18:28:23+09:00" data-updated="true" itemprop="datePublished">2014/02/03</time></div>
		<div class="tags">


	<a class='category' href='/blog/categories/angularjs/'>AngularJS</a>, <a class='category' href='/blog/categories/directive/'>directive</a>


</div>
		
	</div>
	<h1 class="title" itemprop="name"><a href="/blog/2014/02/03/angularjs-event-on-enter/" itemprop="url">AngularJS で Enter キーを検出するコード</a></h1>
	<div class="entry-content" itemprop="articleBody">
		<hr />

<p>テキストボックスなどで、Enter キーによるイベント処理を記述するコード例をいくつか。</p>

<h2>$event オブジェクト</h2>

<p><code>ng-keydown</code>などの directive を利用する際には、<code>$event</code>でイベントオブジェクトを利用。</p>

<figure class='code'><figcaption><span></span></figcaption><div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class='line-number'>1</span>
<span class='line-number'>2</span>
<span class='line-number'>3</span>
<span class='line-number'>4</span>
<span class='line-number'>5</span>
<span class='line-number'>6</span>
<span class='line-number'>7</span>
</pre></td><td class='code'><pre><code class='javascript'><span class='line'><span class="nx">$scope</span><span class="p">.</span><span class="nx">comments</span> <span class="o">=</span> <span class="p">[];</span>
</span><span class='line'><span class="nx">$scope</span><span class="p">.</span><span class="nx">handleKeydown</span> <span class="o">=</span> <span class="kd">function</span><span class="p">(</span><span class="nx">e</span><span class="p">)</span> <span class="p">{</span>
</span><span class='line'>  <span class="k">if</span> <span class="p">(</span><span class="nx">e</span><span class="p">.</span><span class="nx">which</span> <span class="o">!==</span> <span class="mi">13</span><span class="p">)</span> <span class="p">{</span>
</span><span class='line'>    <span class="nx">$scope</span><span class="p">.</span><span class="nx">comments</span><span class="p">.</span><span class="nx">push</span><span class="p">(</span><span class="nx">$scope</span><span class="p">.</span><span class="nx">newComment</span><span class="p">);</span>
</span><span class='line'>    <span class="nx">$scope</span><span class="p">.</span><span class="nx">newComment</span> <span class="o">=</span> <span class="s1">&#39;&#39;</span><span class="p">;</span>
</span><span class='line'>  <span class="p">}</span>
</span><span class='line'><span class="p">}</span>
</span></code></pre></td></tr></table></div></figure>




<figure class='code'><figcaption><span></span></figcaption><div class="highlight"><table><tr><td class="gutter"><pre class="line-numbers"><span class='line-number'>1</span>
<span class='line-number'>2</span>
<span class='line-number'>3</span>
<span class='line-number'>4</span>
</pre></td><td class='code'><pre><code class='html'><span class='line'><span class="nt">&lt;input</span> <span class="na">type=</span><span class="s">&quot;text&quot;</span> <span class="na">ng-model=</span><span class="s">&quot;newComment&quot;</span> <span class="na">ng-keydown=</span><span class="s">&quot;handleKeydown($event)&quot;</span><span class="nt">&gt;</span>
</span><span class='line'><span class="nt">&lt;ul&gt;</span>
</span><span class='line'>  <span class="nt">&lt;li</span> <span class="na">ng-repeat=</span><span class="s">&quot;comment in comments&quot;</span><span class="nt">&gt;</span><span class="nt">&lt;/li&gt;</span>
</span><span class='line'><span class="nt">&lt;ul&gt;</span>
</span></code></pre></td></tr></table></div></figure>





		
		<a href="/blog/2014/02/03/angularjs-event-on-enter/" class="more-link">Read on &rarr;</a>
	</div>

</article>


    <article class="post" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
	<div class="meta">
		<div class="date">








  


<time datetime="2014-01-18T12:49:50+09:00" data-updated="true" itemprop="datePublished">2014/01/18</time></div>
		<div class="tags">


	<a class='category' href='/blog/categories/angularjs/'>AngularJS</a>, <a class='category' href='/blog/categories/ng-conf/'>ng-conf</a>


</div>
		
	</div>
	<h1 class="title" itemprop="name"><a href="/blog/2014/01/18/ng-conf-2014/" itemprop="url">Angular カンファレンス（ng-conf 2014）Jan. 17 動画まとめ</a></h1>
	<div class="entry-content" itemprop="articleBody">
		<hr />

<h2>ng-conf 2014 &ndash; The World’s First Angular Conference in Salt Lake City, Utah</h2>

<p>Angular カンファレンス <a href="http://ng-conf.org">ng-conf 2014</a> 最終日（Friday, January 17）の動画まとめです。</p>

<p>YouTube の <a href="http://www.youtube.com/user/ngconfvideos">ng-conf 2014 チャンネル</a> だけでなく、公式サイトの<a href="http://angularjs.org">トップページ</a>にも動画が表示されるようになっていますが、このエントリーでは最終日のスケジュールどおりに並べています。</p>

<h3>Angular === Community (Keynote)</h3>

<iframe width="560" height="315" src="//www.youtube.com/embed/h-SQvre_6qU" frameborder="0" allowfullscreen></iframe>


<p>Igor Minar</p>


		
		<a href="/blog/2014/01/18/ng-conf-2014/" class="more-link">Read on &rarr;</a>
	</div>

</article>


    <article class="post" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
	<div class="meta">
		<div class="date">








  


<time datetime="2014-01-17T14:32:50+09:00" data-updated="true" itemprop="datePublished">2014/01/17</time></div>
		<div class="tags">


	<a class='category' href='/blog/categories/angularjs/'>AngularJS</a>, <a class='category' href='/blog/categories/ng-conf/'>ng-conf</a>


</div>
		
	</div>
	<h1 class="title" itemprop="name"><a href="/blog/2014/01/17/ng-conf-2014/" itemprop="url">Angular カンファレンス（ng-conf 2014）Jan. 16 動画まとめ</a></h1>
	<div class="entry-content" itemprop="articleBody">
		<hr />

<h2>ng-conf 2014 &ndash; The World&rsquo;s First Angular Conference in Salt Lake City, Utah</h2>

<p>Angular カンファレンス <a href="http://ng-conf.org">ng-conf 2014</a> が、アメリカはユタ州ソルトレイクシティで開催中です。</p>

<p>YouTube の <a href="http://www.youtube.com/user/ngconfvideos">ng-conf 2014 チャンネル</a> のほうに動画はまとめてアップロードされていますが、このエントリーでは当日（Thursday, January 16）のスケジュールどおりに並べています。最終日（Friday, January 17）の動画は<a href="/blog/2014/01/18/ng-conf-2014/">次のエントリー</a>で。</p>

<h3>Keynote</h3>

<iframe width="560" height="315" src="//www.youtube.com/embed/r1A1VR0ibIQ" frameborder="0" allowfullscreen></iframe>


<p>Miško Hevery &amp; Brad Green</p>


		
		<a href="/blog/2014/01/17/ng-conf-2014/" class="more-link">Read on &rarr;</a>
	</div>

</article>


    <article class="post" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
	<div class="meta">
		<div class="date">








  


<time datetime="2013-12-27T16:19:50+09:00" data-updated="true" itemprop="datePublished">2013/12/27</time></div>
		<div class="tags">


	<a class='category' href='/blog/categories/angularjs/'>AngularJS</a>, <a class='category' href='/blog/categories/scope/'>scope</a>


</div>
		
	</div>
	<h1 class="title" itemprop="name"><a href="/blog/2013/12/27/angularjs-apply/" itemprop="url">AngularJS のデータバインドを支える $apply</a></h1>
	<div class="entry-content" itemprop="articleBody">
		<hr />

<h2>データバインドが効かない？！</h2>

<p>AngualrJS を使っていて楽しいのは超ラクチンなデータバインド。なのに、そのデータバインドで以下のような困ったことに遭遇しているとしたら、それは <a href="http://docs.angularjs.org/api/ng.$rootScope.Scope#methods_$apply">$apply</a> を学ぶときが来ているということ。</p>

<ul>
<li>データバインドが効かないぞ？！</li>
<li>データの反映が次のイベントまで遅れてる気がする？？</li>
</ul>


<p>こういうときは $apply の出番だ。$apply を使う必要があるケースというのは、ざくっと言うと AngularJS が知りえないところでイベントが起こっているとき。$apply で AngularJS に変化が起きていることを伝え、後のことは任せることができる。</p>


		
		<a href="/blog/2013/12/27/angularjs-apply/" class="more-link">Read on &rarr;</a>
	</div>

</article>


    <article class="post" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
	<div class="meta">
		<div class="date">








  


<time datetime="2013-12-20T10:10:31+09:00" data-updated="true" itemprop="datePublished">2013/12/20</time></div>
		<div class="tags">


	<a class='category' href='/blog/categories/angularjs/'>AngularJS</a>


</div>
		
	</div>
	<h1 class="title" itemprop="name"><a href="/blog/2013/12/20/mastering-web-application-development-with-angularjs/" itemprop="url">AngularJSのスゴ本が今だけ安い！</a></h1>
	<div class="entry-content" itemprop="articleBody">
		<hr />

<p><img src="https://www.packtpub.com/sites/default/files/782x300_Main_banner.jpg" alt="eBook Bonanza" /></p>

<h2>Mastering Web Application Development with AngularJS</h2>

<p>『<a href="http://www.packtpub.com/angularjs-web-application-development/book">Mastering Web Application Development with AngularJS | Packt Publishing</a>』が、Packt Publishing のサイトで年明け 1 月 3 日までたったの <strong>$ 5.00</strong> で販売中！</p>

<p>ちなみに Amazon では ￥ 1,854（2013/12/20 現在）で販売中。</p>

<p>『Mastering Web Application Development with AngularJS』は洋書だけど、AngularJS やるならこれだけは読んどけっていう、ほんとによく書かれてる本。めっちゃ勉強になってます。</p>

<p>これまでに読んだ AngularJS の本として比較できるのは O’Reilly の『AngularJS』と、Manning の『AngularJS in Action』（Early Access Edition で、まだ 6 章まで）だけど、『Mastering Web Application Development with AngularJS』が質・量ともに圧倒してる。</p>

<p>この本は、AngularJS のサンプルアプリケーション実装として GitHub で 2,274 スター（2013/12/20 現在）も付いている <a href="https://github.com/angular-app/angular-app">angular-app</a> の実装についてのパターンや技術を詳細に解説していて、実際に動作させることもできる CRUD アプリケーションで、AngularJS のフォルダ構成や modules の使い方、テスト、REST バックエンドとの接続、ナビゲーション、セキュリティ（authentication、authorization）などのベストプラクティスを学ぶことができる。</p>

<p>AngularJS やるぜって衆の年末年始は、コレで決まりだ！</p>

		
		
	</div>

</article>


    <article class="post" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
	<div class="meta">
		<div class="date">








  


<time datetime="2013-12-17T00:01:26+09:00" data-updated="true" itemprop="datePublished">2013/12/17</time></div>
		<div class="tags">


	<a class='category' href='/blog/categories/angularjs/'>AngularJS</a>, <a class='category' href='/blog/categories/scope/'>scope</a>


</div>
		
	</div>
	<h1 class="title" itemprop="name"><a href="/blog/2013/12/17/angularjs-watchcollection/" itemprop="url">$watchと$watchの中間的な位置付けの$watchCollection</a></h1>
	<div class="entry-content" itemprop="articleBody">
		<hr />

<h2>$watchCollection</h2>

<p><a href="http://angularjsninja.com/blog/2013/12/13/angularjs-watch/">AngularJSのデータバインドを支える$watch</a> で見たように、$watch ではオブジェクトの参照を監視するか、またはオブジェクトの中身まですべて監視（deep watch）するかを切り替えることができる。</p>

<p>その 2 種類の $watch の中間に位置付けられる <a href="http://docs.angularjs.org/api/ng.$rootScope.Scope#methods_$watchcollection">$watchCollection</a> というのもあり、1 階層分だけを監視（shallow watch）してくれる。</p>

<h2>配列の場合</h2>

<p>配列の場合に $watch、$watchCollection、および $watch (deep watch) がそれぞれどのように異なるのかを見ていく。</p>


		
		<a href="/blog/2013/12/17/angularjs-watchcollection/" class="more-link">Read on &rarr;</a>
	</div>

</article>

</div>
<nav id="pagenavi">
    
    
        <a href="/blog/page/2/" class="next">Next</a>
    
    <div class="center"><a href="/blog/archives">Blog Archives</a></div>
</nav></div>
			</div>
			<footer id="footer" class="inner"><p>
  Copyright &copy; 2014 - Akihito Tamagawa -
  <span class="credit">Powered by <a href="http://octopress.org">Octopress</a></span>
</p>

Design credit: <a href="http://shashankmehta.in/archive/2012/greyshade.html">Shashank Mehta</a></footer>
			



<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement(s); js.id = id; js.async = true;
  js.src = "//connect.facebook.net/en_US/all.js#appId=212934732101925&xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>



  <script type="text/javascript">
    (function() {
      var script = document.createElement('script'); script.type = 'text/javascript'; script.async = true;
      script.src = 'https://apis.google.com/js/plusone.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(script, s);
    })();
  </script>



  <script type="text/javascript">
    (function(){
      var twitterWidgets = document.createElement('script');
      twitterWidgets.type = 'text/javascript';
      twitterWidgets.async = true;
      twitterWidgets.src = '//platform.twitter.com/widgets.js';
      document.getElementsByTagName('head')[0].appendChild(twitterWidgets);
    })();
  </script>





		</div>
	</div>
	
	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-15091936-4']);
		_gaq.push(['_trackPageview']);

		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
	</script>


</body>
</html>
