// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

body {
  font-size: 13px;
}

#header h1 {
  font-size: 23px;
}

.container .left-col {
  opacity: 0.8;
}

.container .left-col #header .profilepic img {
  border-radius: 0;
}

.container .mid-col .mid-col-container #content article .entry-content blockquote {
  background-color: #f2f2f2;
}

body {
  font-family: "Open Sans", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

article code,
article pre {
  background-color: #f2f2f2;
  font-family: 'Source Code Pro', Consolas, Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace;
}

article .entry-content {
  text-align: left;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 568px) {
  article code {
    font-size: .6em !important;
  }
}